.header {
  background-color: #373737;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .menu {
    color: white;
    padding: 20px 2%;
    cursor: pointer;
    transition: 0.3s;

    &.active,
    &:hover {
      background-color: #8dc63f;
    }
  }
}
